<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="DebugFrame">
		<pos>0,608</pos>
		<size>700,100</size>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxRESIZE_BORDER|wxMAXIMIZE_BOX|wxMINIMIZE_BOX</style>
		<object class="wxTextCtrl" name="ID_TextCtrl" variable="TextCtrl" member="yes">
			<pos>32,80</pos>
			<style>wxTE_MULTILINE</style>
		</object>
	</object>
</wxsmith>
