<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="GNRMainFrame">
		<title>GNR - 3D Einrichtungsplaner</title>
		<pos>0,0</pos>
		<size>800,550</size>
		<focused>1</focused>
		<minsize>800,480</minsize>
		<id_arg>0</id_arg>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;Datei</label>
				<object class="wxMenuItem" name="idMenuNewRoom" variable="MenuItem8" member="no">
					<label>&amp;Neuer leerer Raum</label>
					<accel>CTRL+N</accel>
					<help>Raum leeren...</help>
					<handler function="OnMenuNewRoom" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuOpxOpen" variable="MenuItem3" member="no">
					<label>OPX &amp;Öffnen</label>
					<accel>CTRL+O</accel>
					<help>vorhandene Datei öffnen...</help>
					<handler function="OnMenuOpxOpen" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuOpxSave" variable="MenuItem4" member="no">
					<label>OPX &amp;Speichern</label>
					<accel>CTRL+S</accel>
					<help>Datei speichern...</help>
					<handler function="OnMenuOpxSave" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>GNR Schließen</label>
					<accel>ALT+F4</accel>
					<help>GNR beenden...</help>
					<handler function="OnMenuQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>&amp;Bearbeiten</label>
				<object class="wxMenuItem" name="idMenuUndo" variable="MenuItem24" member="yes">
					<label>&amp;Rückgänig</label>
					<accel>CTRL+Z</accel>
					<help>Aktion rückgänig machen...</help>
				</object>
				<object class="wxMenuItem" name="idMenuRedo" variable="MenuItem25" member="yes">
					<label>&amp;Wiederherstellen</label>
					<accel>CTRL+Y</accel>
					<help>Aktion wiederherstellen...</help>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuDeleteObject" variable="MenuItem19" member="yes">
					<label>Objekte ent&amp;fernen</label>
					<accel>CTRL+X</accel>
					<help>Objekte entfernen...</help>
				</object>
				<object class="wxMenuItem" name="idMenuInsertObject" variable="MenuItem21" member="yes">
					<label>Objekte &amp;einfügen</label>
					<accel>CTRL+V</accel>
					<help>Objekte einfügen...</help>
				</object>
				<object class="wxMenuItem" name="idMenuCopyObject" variable="MenuItem22" member="yes">
					<label>Objekte &amp;kopieren</label>
					<accel>CTRL+C</accel>
					<help>Objekte kopieren...</help>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuHideObject" variable="MenuItem20" member="yes">
					<label>Objekte &amp;verstecken</label>
					<accel>CTRL+H</accel>
					<help>Objekte verstecken...</help>
				</object>
				<object class="wxMenuItem" name="idMenuShowObject" variable="MenuItem23" member="yes">
					<label>Objekte &amp;anzeigen</label>
					<accel>CTRL+J</accel>
					<help>Objekte anzeigen...</help>
				</object>
			</object>
			<object class="wxMenu" variable="Menu5" member="yes">
				<label>E&amp;xportieren</label>
				<object class="wxMenuItem" name="idMenuObjExport" variable="MenuItem7" member="no">
					<label>OBJ E&amp;xportieren</label>
					<accel>ALT+O</accel>
					<help>Object-Datei exportieren...</help>
					<handler function="OnMenuObjExport" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuOaxExport" variable="MenuItem11" member="yes">
					<label>OAX Ex&amp;portieren</label>
					<accel>CTRL+O</accel>
					<help>OAX Exportieren...</help>
					<handler function="OnMenuOaxExport" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu6" member="yes">
				<label>&amp;Importieren</label>
				<object class="wxMenuItem" name="idMenuObjImport" variable="MenuItem6" member="no">
					<label>OBJ &amp;Importieren</label>
					<accel>ALT+I</accel>
					<help>Object-Datei importieren...</help>
					<handler function="OnMenuObjImport" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuOaxImport" variable="MenuItem10" member="yes">
					<label>OAX I&amp;mportieren</label>
					<accel>CTRL+I</accel>
					<help>OAX Importieren...</help>
					<handler function="OnMenuOaxImport" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu8" member="yes">
				<label>&amp;Kamera</label>
				<object class="wxMenuItem" name="idMenuZoomIn" variable="MenuItem26" member="yes">
					<label>&amp;Einzoomen</label>
					<accel>PGUP</accel>
					<help>In die 2D Ansicht hereinzoomen...</help>
				</object>
				<object class="wxMenuItem" name="idMenuZoomOut" variable="MenuItem27" member="yes">
					<label>&amp;Auszoomen</label>
					<accel>PGDN</accel>
					<help>Aus der 2D Ansicht herauszoomen...</help>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuZoomFit" variable="MenuItem28" member="yes">
					<label>Au&amp;tomatisch</label>
					<accel>CTRL+Z</accel>
					<help>Ansicht an Bildschirm anpassen...</help>
				</object>
				<object class="wxMenuItem" name="idMenuZoomReset" variable="MenuItem29" member="yes">
					<label>Aus&amp;ganszustand</label>
					<accel>HOME</accel>
					<help>Kamera in Ausganszustand zurücksetzen...</help>
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>&amp;Einstellungen</label>
				<object class="wxMenuItem" name="idMenuSnapToGrid" variable="MenuItem9" member="yes">
					<label>Ein&amp;rasten aktivieren</label>
					<accel>F4</accel>
					<help>Einrasten aktivieren...</help>
					<check>1</check>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuMoveXZ" variable="MenuItem12" member="yes">
					<label>Verschieben X&amp;Z</label>
					<accel>F5</accel>
					<help>Objekt verschieben entlang X- und Z-Achse...</help>
					<radio>1</radio>
				</object>
				<object class="wxMenuItem" name="idMenuMoveXY" variable="MenuItem13" member="yes">
					<label>Verschieben X&amp;Y</label>
					<accel>F6</accel>
					<help>Objekt verschieben entlang X- und Y-Achse...</help>
					<radio>1</radio>
				</object>
				<object class="wxMenuItem" name="idMenuRotateXZ" variable="MenuItem14" member="yes">
					<label>&amp;Rotieren XZ</label>
					<accel>F7</accel>
					<help>Objekt rotieren an X- und Z-Achse...</help>
					<radio>1</radio>
				</object>
				<object class="wxMenuItem" name="idMenuRotateXY" variable="MenuItem15" member="yes">
					<label>R&amp;otieren XY</label>
					<accel>F8</accel>
					<help>Objekt rotieren an X- und Y-Achse...</help>
					<radio>1</radio>
				</object>
				<object class="wxMenuItem" name="idMenuDrawWall" variable="MenuItem16" member="yes">
					<label>&amp;Wände erstellen</label>
					<accel>F9</accel>
					<help>Wände im 2D-Modus erstellen...</help>
				</object>
			</object>
			<object class="wxMenu" variable="Menu7" member="yes">
				<label>Gr&amp;uppen</label>
				<object class="wxMenuItem" name="idMenuGroup" variable="MenuItem17" member="yes">
					<label>&amp;Gruppe erstellen</label>
					<accel>CTRL+G</accel>
					<help>Neue Gruppe erstellen...</help>
				</object>
				<object class="wxMenuItem" name="idMenuUngroup" variable="MenuItem18" member="yes">
					<label>Gruppe &amp;auflösen</label>
					<accel>CTRL+F</accel>
					<help>Gruppe auflösen...</help>
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>&amp;Hilfe</label>
				<object class="wxMenuItem" name="idMenuHelp" variable="MenuItem5" member="no">
					<label>&amp;Hilfe</label>
					<accel>F1</accel>
					<help>Hilfe zur Anwendung</help>
				</object>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>&amp;Über</label>
					<accel>ALT+F1</accel>
					<help>Informationen über GNR...</help>
					<handler function="OnMenuAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_StatusBar" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
