<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="GNRMainFrame">
		<title>GNR - 3D Einrichtungsplaner</title>
		<centered>1</centered>
		<size>800,600</size>
		<focused>1</focused>
		<minsize>640,480</minsize>
		<id_arg>0</id_arg>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;Datei</label>
				<object class="wxMenuItem" name="idMenuLoad" variable="MenuItem3" member="yes">
					<label>XML &amp;Öffnen</label>
					<accel>Alt-O</accel>
					<help>vorhandene Datei öffnen...</help>
				</object>
				<object class="wxMenuItem" name="idMenuSave" variable="MenuItem4" member="no">
					<label>XML &amp;Speichern</label>
					<accel>Alt-S</accel>
					<help>Datei speichern...</help>
				</object>
				<object class="wxMenuItem" name="idMenuImport" variable="MenuItem6" member="no">
					<label>OBJ &amp;Importieren</label>
					<accel>Alt-I</accel>
					<help>Object-Datei importieren</help>
				</object>
				<object class="wxMenuItem" name="idMenuExport" variable="MenuItem7" member="no">
					<label>OBJ &amp;Exportieren</label>
					<accel>Alt-E</accel>
					<help>Object-Datei exportieren</help>
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>GNR Schließen</label>
					<accel>Alt-F4</accel>
					<help>GNR schließen...</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>&amp;Hilfe</label>
				<object class="wxMenuItem" name="idMenuHelp" variable="MenuItem5" member="yes">
					<label>&amp;Hilfe</label>
					<accel>F1</accel>
					<help>Hilfe zur Anwendung</help>
				</object>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>&amp;Über</label>
					<accel>Alt-F1</accel>
					<help>Informationen über GNR...</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_StatusBar" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="ToolBar1" member="yes">
			<object class="tool" name="btn_room_new" variable="ToolBarItem1" member="yes">
				<label>Raum erstellen</label>
				<bitmap stock_id="wxART_NEW" stock_client="wxART_TOOLBAR" />
				<tooltip>Raum erstellen</tooltip>
				<longhelp>Raum erstellen</longhelp>
				<radio>1</radio>
			</object>
			<object class="tool" name="btn_room_open" variable="ToolBarItem2" member="yes">
				<label>Raum öffnen</label>
				<bitmap stock_id="wxART_FOLDER_OPEN" />
				<tooltip>Raum öffnen</tooltip>
				<longhelp>Raum öffnen</longhelp>
			</object>
			<object class="tool" name="btn_room_save" variable="ToolBarItem3" member="yes">
				<label>Raum speichern</label>
				<bitmap stock_id="wxART_FILE_SAVE" />
				<tooltip>Raum speichern</tooltip>
				<longhelp>Raum speichern</longhelp>
			</object>
			<object class="separator" />
			<object class="tool" name="btn_undo" variable="ToolBarItem4" member="yes">
				<label>Rückgängig</label>
				<bitmap stock_id="wxART_UNDO" />
				<tooltip>Rückgängig</tooltip>
				<longhelp>Rückgängig</longhelp>
			</object>
			<object class="tool" name="btn_redo" variable="ToolBarItem5" member="yes">
				<label>Wiederherstellen</label>
				<bitmap stock_id="wxART_REDO" />
				<tooltip>Wiederherstellen</tooltip>
				<longhelp>Wiederherstellen</longhelp>
			</object>
			<object class="separator" />
			<object class="tool" name="btn_move_xy" variable="ToolBarItem6" member="yes">
				<label>Verschieben in X-Y-Richtung</label>
				<bitmap>src\resources\buttons\lc_arrowshapes.quad-arrow.png</bitmap>
				<tooltip>Verschieben in X-Y-Richtung</tooltip>
				<longhelp>Verschieben in X-Y-Richtung</longhelp>
				<radio>1</radio>
			</object>
			<object class="tool" name="btn_move_xz" variable="ToolBarItem7" member="yes">
				<label>Verschieben in X-Z-Richtung</label>
				<bitmap>src\resources\buttons\lc_arrowshapes.up-right-arrow.png</bitmap>
				<tooltip>Verschieben in X-Z-Richtung</tooltip>
				<longhelp>Verschieben in X-Z-Richtung</longhelp>
				<radio>1</radio>
			</object>
			<object class="tool" name="btn_rotate_xy" variable="ToolBarItem8" member="yes">
				<label>Rotieren auf X-Y-Achsen</label>
				<bitmap>src\resources\buttons\lc_arrowshapes.circular-arrow.png</bitmap>
				<tooltip>Rotieren auf X-Y-Achsen</tooltip>
				<longhelp>Rotieren auf X-Y-Achsen</longhelp>
				<radio>1</radio>
			</object>
		</object>
	</object>
</wxsmith>
